# This is .gitignore for susee project.

# Do not remove the following :
# -----------------------------
node_modules
dist
bin
# -----------------------------

# ptm local development
__local__
a.ts
sr
out
site

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache